body{
  margin: 0;
  padding: 0;
  background-color: #dfdfdf;
}

div.bootstrapt-container{
  display: block;
  width: 100%;
}

b{
  color:red;
}

div.bootstrapt-context{
  width: 1000px;
  min-height: 1300px;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 35px #000;
  padding: 50px;
  margin: 0px auto 30px;
  background-color: #fff;
  position: relative;
  left: 150px;
}

div.tap-context{
  margin:0px;
}

div.tab-pane{
  margin: 0 10px;
}

div.bootstrapt-context h3{
  text-align: center;
}

ol{
  start:1;
}

h1,h2,h3,h4,h5{
  text-align: center;
}

div.bootstrapt-context p{
  text-indent: 2em;
  font-size: 20px;
  text-align: left;
}

div.bootstrapt-context a{
  color:red;
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
}

img{
  margin: 0 auto;
  display: inherit;
  max-width: 900px;
}

ul.dropdown-menu li{
  padding: 0 28%;
}


div.scroll{
  position: fixed;
  z-index: 99;
  top: 100px;
}

div.scroll ul{
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.scroll ul li{
  border-bottom: 2px solid #ccc;
  color: #fff;
}

div.scroll ul li a{
  display: inline-block;
  width: 300px;
  padding: 5px 5px 5px 20px;
  color: #000;
}

div.scroll ul li a:hover{
  display: inline-block;
  width: 300px;
  background-color: rgba(222,222,222,0.5);
  padding: 5px 5px 5px 20px;
  text-decoration: none;
  cursor:pointer;
}
div.scroll ul li a:hover span{
  opacity: 0.25;
  color:#000;
}

.to_blue{
  background-color: #337ab7;
  color: red;
}

span.glyphicon{
  float: right;
  color: lightyellow;
}