{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "js": true,
      "json": true,
      "legacyDecorators": true,
      "jest": true
    }
  },
  "rules": {
    "no-console": "error",
    "eqeqeq": "error",
    "curly": "error",
    "quotes": ["error", "single"],
    "semi": ["error", "never"]
  },
  "env": {
    "browser": true,
    "node": true
  }
}