{
  "plugins": [
    "prettier",
    "wesbos",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "eslintrc": true,
      "jsx": true,
      "js": true,
      "json": true,
      "legacyDecorators": true,
      "jest": true
    }
  },
  "rules": {
    "eqeqeq": "error",
    "curly": "error",
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "no-console": 2,
    "prettier/prettier": [
      "error"
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}