body {
  min-height: 100vh;
  flex-direction: column;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
body textarea {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 90vw;
  height: 60vh;
  margin: 50px auto;
  display: block;
}
body a {
  text-align: center;
  line-height: 30px;
  color: #333;
  text-decoration: none;
  border: 2px solid #c8c7cc;
  border-radius: 5px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  background-color: #fff;
  margin: auto;
  display: block;
}
