body header {
  height: 50px;
  width: 100vw;
  display: inline-block;
}
body header h3 {
  text-align: center;
  margin: 13px;
}
body .container {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
body .container h4 {
  margin: 10px;
}
body .container .list {
  padding: 2px 10px;
  border-bottom: 1px solid #ccc;
  display: block;
}
body .container .list .content {
  width: 72vw;
  display: inline-block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
body .container .list .time {
  display: inline-block;
  width: 20vw;
  text-align: right;
  margin: 0;
  color: #ccc;
  font-size: 12px;
  flex: 0 0 22vw;
}
body .container .list:last-child {
  border-bottom: 0;
}
body footer {
  height: 50px;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}
body footer a {
  margin: 8px auto;
  text-align: center;
  display: block;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  border: 2px solid #c8c7cc;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  line-height: 30px;
}
