.ArticlePage__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	box-shadow: var(--box-shadow-base);

	.ArticlePage__item {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		border: 1px solid var(--border-color-base);
		&:first-child {
			border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
		}
		&:last-child {
			border-radius: 0 0 var(--border-radius-base) var(--border-radius-base);
		}

		&:not(:last-child) {
			border-bottom: 0px;
		}
		&:hover {
			background-color: #f6f8fa;
		}

		img {
			width: 40px;
			height: 40px;
			margin-right: 15px;
			border-radius: var(--border-radius-base);
			overflow: hidden;
		}

		.ArticlePage__detail {
			font-size: 12px;

			.ArticlePage__label {
				color: #000;
				margin: 3px;
				border-radius: 2px;
				box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
				height: 20px;
				line-height: 15px;
				font-weight: bold;
				padding: 0.15em 4px;
			}

			.ArticlePage__name {
				text-align: center;
				margin-right: 10px;
				margin-top: 10px;
				font-size: 14px;
			}

			.ArticlePage__title {
				font-size: 16px;
				font-weight: 600;
				margin-right: 10px;
			}
		}
	}
}