.content {
	display: flex;
	flex-direction: row;
	margin: auto;
	background: #fff;
	position: relative;
	.side {
		width: 16rem;
		height: calc(100vh - 30px);
	}
	.body {
		margin-bottom: 30px;
		box-sizing: border-box;
		background: #fff;
		min-height: calc(100vh - 30px);
	}
}
.footer {
	background-color: #fff;
}
