/* NProgress Style */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(255, 0, 0);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 5px rgb(255, 0, 0);
  opacity: 1.0;

  transform: rotate(3deg) translate(0px, -4px);
}