.Side__container {
	background: var(--grey9);
	flex: 0 0 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 14px;

	.Side__nav {
		display: flex;
		flex-direction: column;
		padding-top: 20px;

		.Side__nav-item {
			position: relative;
			margin-bottom: 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			height: 45px;
			padding: 0 20px;
			color: var(--grey1);
			transition: 0.2s all ease;
			box-sizing: border-box;
			border-left: 0px solid var(--blue1);
			& > * {
				z-index: 1;
			}

			.icon {
				margin-right: 20px;
				color: #fff;
				font-size: 18px;
			}

			&:hover,
			&.active {
				cursor: pointer;
				background: var(--grey8);

				a {
					color: var(--blue1);
				}
			}

			&.active {
				border-left: 3px solid var(--blue1);
			}
		}
	}

	.Side__history {
		flex: 0 0 300px;
		padding: 10px;

		.Side__history-title {
			font-size: 24px;
			color: #ccc;
		}

		.Side__history-content {
			line-height: 1.5em;
			padding-left: 20px;
			color: #999;

			a {
				margin-left: 10px;
				color: #999;
				text-decoration: none;

				&:hover {
					color: #00b4cf;
				}
			}
		}
	}
}
