.Side__container {
	flex: 0 0 16rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 14px;

	.Side__nav {
		display: flex;
		flex-direction: column;
		padding-top: 20px;

		.Side__nav-item {
			position: relative;
			margin-bottom: 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			height: 45px;
			padding: 0 20px;
			transition: 0.2s all ease;
			box-sizing: border-box;
			column-gap: 20px;

			.icon {
				color: #fff;
				font-size: 18px;
				width: 18px;
			}
		}
	}
}
