.Loading {
  width: 570px;
  padding: 20px;
  z-index: 1;
  display: flex;
  position: absolute;
  top: 120px;
  left: 105px;
  background: #fff;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--blue1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.1s all ease-in-out;
  transform-origin: 0 -20px;

  &.hide {
    transform: scaleY(0);
  }


  &::after{
    position: absolute;
    content: '';
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    display: inline-block;
    border-left: 7px solid rgba(0,0,0,0);
    border-right: 7px solid rgba(0,0,0,0);
    border-bottom: 12px solid #fff;
    z-index: 1;
    top: -14px;
    left: 20px;
  }

  &::before{
    position: absolute;
    content: '';
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    display: inline-block;
    z-index: 1;
    border-left: 7px solid rgba(0,0,0,0);
    border-right: 7px solid rgba(0,0,0,0);
    border-bottom: 12px solid var(--blue1);
    top: -16px;
    left: 20px;
  }


  .Loading-close {
    position: absolute;
    right: 14px;
    top: 8px;
    font-size: 22px;
    color: var(--blue1);
    cursor: pointer;
    &:hover {
      color: var(--blue2);
    }
  }

  .Loading-title {
    color: var(--grey8);
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
  }
  .Loading-input {
    height: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
    margin: 10px 0;
    padding: 5px 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    // transform: 0.1s all ease;
    // &:focus {
    // }
  }
  .Loading-btns {
    margin-top: 10px;
    button {
      font-size: 16px;
      margin-right: 20px;
      color: #fff;
      width: 130px;
      height: 30px;
      border: 0;
      cursor: pointer;
      outline: none;
      background: var(--blue1);
    }
    .Loading-cancel {
      background: var(--grey8);
    }
  }
}