.RepositoryPage {
  overflow-y: auto;
  max-width: 980px;
  width: calc(100vw - 50px);
  background-color: #fff;
  padding: 20px;
  min-height: 100%;
  flex: 1;
  box-sizing: border-box;

  .RepositoryPage__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .RepositoryPage__item {
      width: calc(50% - 10px);
      padding: 16px;
      border-radius: 3px;
      margin-bottom: 16px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      border: 1px solid var(--border-color-base);
      box-shadow: var(--box-shadow);



      &:hover {
        background-color: #f6f8fa;
      }

      .RepositoryPage__item--left {
        display: flex;
        flex-direction: column;

        .RepositoryPage__name {
          font-size: 16px;
          color: #0366d6;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }

        .RepositoryPage__description {
          font-size: 12px;
          font-weight: 600;
          margin: 8px 0 16px;
          color: #586069 !important;
        }

        .RepositoryPage__detail {
          font-size: 12px;
          display: flex;
          align-items: center;

          .RepositoryPage__detail-language--color {
            border-radius: 50%;
            display: inline-block;
            height: 12px;
            position: relative;
            top: 1px;
            width: 12px;
          }

          .RepositoryPage__detail-language--content {
            margin-left: 3px;
          }

          .RepositoryPage__detail-stargazers {
            margin-left: 16px;
            fill: currentColor;
            display: inline-flex;
            align-items: center;

            .RepositoryPage__detail-stargazers--text {
              margin-left: 2px;
            }
          }
        }
      }

      .RepositoryPage__item--right {
        flex: 0 0 auto;
        display: inline-flex;
        flex-direction: column;

        .RepositoryPage-update {
          font-size: 12px;
          text-align: right;
        }

        .RepositoryPage-commitCount {
          font-size: 12px;
          text-align: right;
        }

        .RepositoryPage-link {
          text-align: right;

          a+a {
            margin-left: 10px;
          }
        }

        .RepositoryPage-topic {

          .RepositoryPage-topic__item {
            color: #0366d6;
            font-size: 12px;
            background-color: #f1f8ff;
            border-radius: 3px;
            display: inline-block;
            margin: 0 5px 5px 0;
            padding: 0 5px;
            white-space: nowrap;

            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}