<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, height=device-height, initial-scale=0.6, minimum-scale=0.6, maximum-scale=0.6, user-scalable=no"/>
	<title>2048</title>
	<style>
	header{
		display: block;
		margin: 0px auto;
		max-width: 500px;
		text-align: center;
	}
	header div.h{
		float: left;
		position: relative;
		top:-15px;
	}

	header div.h h1{
		font-family: Arial;
		font-size: 40px;
		font-weight: bold;
		position: relative;
		margin: 0px;
		position: relative;
		top:-20px;
		background-color: red;
	}
	header #newgamebutton{
		display: block;
		margin: 20px auto;
		width: 100px;
		padding: 10px 5px;
		background-color: #8f7a66;
		font-family: Arial;
		color: white;
		border-radius: 10px;
		text-decoration: none;
	}
	header #newgamebutton:hover{
		background-color: #9f8b77;
	}
	header p{
		font-family: Arial;
		font-size: 25px;
		margin: 20px auto;
		float: right;
		position: relative;
		bottom:75px;
	}
	#grid-container{
		width: 460px;
		height: 460px;
		padding: 20px;
		margin: 20px auto;
		background-color: #bbada0;
		border-radius: 10px;
		position: relative;
	}
	.grid-cell{
		width: 100px;
		height: 100px;
		border-radius: 6px;
		background-color: #ccc0b3;
		position: absolute;
	}

	.number-cell{
		border-radius: 6px;
		font-family: Arial;
		font-weight: bold;
		font-size: 60px;
		line-height: 100px;
		text-align: center;
		position: absolute;
	}
	</style>

	<!-- js库函数 -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<!-- 底层支撑js -->
	<script type="text/javascript">
	documentWidth = window.screen.availWidth;
	gridContainerWidth  = 0.92 * documentWidth;
	cellSideLength = 0.18 * documentWidth;
	cellSpace = 0.04*documentWidth;



	function getPosTop(i,j){
		return cellSpace + i*(cellSideLength+cellSpace);
	}
	function getPosLeft(i,j){
		return cellSpace + j*(cellSideLength+cellSpace);
	}

	function getNumberBackgroundColor(number){
		switch(number){
			case 2:return "#eee4da";break;
			case 4:return "#ede0c8";break;
			case 8:return "#f2b179";break;
			case 16:return "#f59563";break;
			case 32:return "#f67c5f";break;
			case 64:return "#f65e3b";break;
			case 128:return "#edcf72";break;
			case 256:return "#edcc61";break;
			case 512:return "#9c0";break;
			case 1024:return "#33b515";break;
			case 2048:return "#90c";break;
			case 4096:return "#a6c";break;
			case 8192:return "#93c";break;
		}

		return "black";
	}

	function getNumberColor(number){
		if(number<=4){
			return "#776e65";
		}
		return "white";
	}
	function nospace(board){
		for(var i=0 ; i<4 ; i++){
			for(var j=0 ; j<4 ; j++){
				if(board[i][j] == 0){
					return false;
				}
			}
		}
		return true;
	}

	function canMoveLeft(board){
		for(var i=0 ; i<4 ; i++){
			for(var j=1 ; j<4 ; j++){
				if(board[i][j] != 0 ){
					if(board[i][j-1] == 0 || board[i][j-1] == board[i][j] ){
						return true;
					}
				}
			}
		}
		return false;
	}

	function canMoveRight(board){
		for(var i=0 ; i<4 ; i++){
			for(var j=2 ; j>=0 ; j--){
				if(board[i][j] != 0 ){
					if(board[i][j+1] == 0 || board[i][j+1] == board[i][j] ){
						return true;
					}
				}
			}
		}
		return false;
	}

	function canMoveUp(board){
		for(var j=0 ; j<4 ; j++){
			for(var i=1 ; i<4 ; i++){
				if(board[i][j] != 0 ){
					if(board[i-1][j] == 0 || board[i-1][j] == board[i][j] ){
						return true;
					}
				}
			}
		}
		return false;
	}

	function canMoveDown(board){
		for(var j=0 ; j<4 ; j++){
			for(var i=2 ; i>=0 ; i--){
				if(board[i][j] != 0 ){
					if(board[i+1][j] == 0 || board[i+1][j] == board[i][j] ){
						return true;
					}
				}
			}
		}
		return false;
	}

	//row竖向 ，，，，col横向
	function noBlockHorizontal( row , col1 , col2 , board ){
		for(var i = col1 + 1 ; i < col2 ; i++ ){
			if( board[row][i] != 0 ){
				return false;
			}
		}
		return true;
	}

	function noBlockVertical( col , row1 , row2 , board ){
		for(var i = row1 + 1 ; i < row2 ; i++ ){
			if( board[i][col] != 0 ){
				return false;
			}
		}
		return true;
	}

	function nomove(board){
		if( canMoveDown(board) ||
			canMoveUp(board) ||
			canMoveRight(board) ||
			canMoveLeft(board) )
		{
			return false;
		}
		return true;
	}
	</script>
	<!-- 动画效果 -->
	<script type="text/javascript">
	function showNumberWithAnimation( i , j , randNumber){
		var numberCell = $('#number-cell-'+i+'-'+j);

		numberCell.css('background-color',getNumberBackgroundColor(randNumber));
		numberCell.css('color',getNumberColor(randNumber));
		numberCell.text(randNumber);

		numberCell.animate({
			width:cellSideLength,
			height:cellSideLength,
			top:getPosTop(i,j),
			left:getPosLeft(i,j)
		},50);
	}

	function showMoveAnimation( fromx , fromy , tox , toy ){
		var numberCell = $('#number-cell-' + fromx + '-' + fromy );
		numberCell.animate({
			top:getPosTop( tox , toy ),
			left:getPosLeft( tox , toy )
		},200);
	}

	function updateScore(score){
		$('#score').text(score);
	}
	</script>
	<!-- 主逻辑 -->
	<script type="text/javascript">

	var board = new Array();
	var score = 0;
	var hasConflicted = new Array();


	var startx = 0;
	var starty = 0;
	var endx = 0;
	var endy = 0;

	$(document).ready(function(){
		prepareForMobile();
		newgame();
	})

	function prepareForMobile(){

		if( documentWidth > 500 ){
			gridContainerWidth  = 500;
			cellSpace = 20;
			cellSideLength = 100;
			
		}
		$('#grid-container').css('width',gridContainerWidth - 2*cellSpace);
		$('#grid-container').css('height',gridContainerWidth - 2*cellSpace);
		$('#grid-container').css('padding', cellSpace);
		$('#grid-container').css('border-radius',0.02*gridContainerWidth);

		$('.grid-cell').css('width',cellSideLength);
		$('.grid-cell').css('height',cellSideLength);
		$('.grid-cell').css('border-radius',0.02*cellSideLength);
	}

	function newgame(){
		//ÆåÅÌ³õÊ¼»¯
		init();
		//Ëæ»úÉú³ÉÊý×Ö
		generateOneNumber();
		generateOneNumber();
	}

	function init(){
		for(var i=0 ; i<4 ; i++){
			for(var j=0;j<4;j++){
				var gridCell = $("#grid-cell-"+i+"-"+j);
				gridCell.css('top',getPosTop(i,j));
				gridCell.css('left',getPosLeft(i,j));
			}
		}

		for(var i=0 ; i<4 ; i++){
			board[i] = new Array();
			hasConflicted[i] = new Array();
			for(var j=0;j<4;j++){
				board[i][j] = 0;
				hasConflicted[i][j] = false;
			}
		}
		updateBoardView();


		score = 0;
		$("#score").text(score);
	}
	function updateBoardView(){
		$(".number-cell").remove();
		for(var i=0 ; i<4 ; i++){
			for(var j=0 ; j<4 ; j++){
				$("#grid-container").append('<div class="number-cell" id="number-cell-'+i+'-'+j+'"></div>');
				var theNumberCell = $('#number-cell-'+i+'-'+j);

				if(board[i][j]==0){
					theNumberCell.css('width','0px');
					theNumberCell.css('height','0px');
					theNumberCell.css('top',getPosTop(i,j)+cellSideLength/2);
					theNumberCell.css('left',getPosLeft(i,j)+cellSideLength/2);
				}else{
					theNumberCell.css('width',cellSideLength);
					theNumberCell.css('height',cellSideLength);
					theNumberCell.css('top',getPosTop(i,j));
					theNumberCell.css('left',getPosLeft(i,j));
					theNumberCell.css('background-color',getNumberBackgroundColor(board[i][j]));
					theNumberCell.text(board[i][j]);
				}
				hasConflicted[i][j] = false;
			}
		}
		$('.number-cell').css('line-height',cellSideLength+"px");
		$('.number-cell').css('font-size',0.6*cellSideLength+"px");
	}

	function generateOneNumber(){

		if(nospace( board ) ){
			return false;
		}
		//Ëæ»úÒ»¸öÎ»ÖÃ
		var randx = parseInt(Math.floor(Math.random() * 4));
		var randy = parseInt(Math.floor(Math.random() * 4));

		var times = 0;
		while(times < 50 ){
			if(board[randx][randy] == 0){
				break;
			}
			var randx = parseInt(Math.floor(Math.random() * 4));
			var randy = parseInt(Math.floor(Math.random() * 4));

			times ++;
		}
		if(times == 50){
			for(var i=0 ; i<4 ; i++){
				for(var j=0;j<4;j++){
					if(board[i][j] == 0){
						randx = i;
						randy = j;
					}
				}
			}
		}
		//Ëæ»úÒ»¸öÊý×Ö
		var randNumber = Math.random() <0.5 ?2:4;

		//ÔÚËæ»úÎ»ÖÃÏÔÊ¾Ëæ»úÊý×Ö
		board[randx][randy] = randNumber;
		showNumberWithAnimation(randx,randy,randNumber);
		
		return true;
	}
	$(document).keydown(function(event){
		switch( event.keyCode ){
			case 37: //left
			event.preventDefault();
				if( moveLeft() ){
					setTimeout("generateOneNumber()",210);
					setTimeout("isgameover()",300);
				}
				break;

			case 38: //up
			event.preventDefault();
				if( moveUp() ){
					setTimeout("generateOneNumber()",210);
					setTimeout("isgameover()",300);
				}
				break;

			case 39: //right
			event.preventDefault();
				if( moveRight() ){
					setTimeout("generateOneNumber()",210);
					setTimeout("isgameover()",300);
				}
				break;

			case 40: //down
			event.preventDefault();
				if( moveDown() ){
					setTimeout("generateOneNumber()",210);
					setTimeout("isgameover()",300);
				}
				break;
			default: //default
				break;
		}
	})

	document.addEventListener('touchstart',function(event){
		startx = event.touches[0].pageX;
		starty = event.touches[0].pageY;
	});

	document.addEventListener('touchmove',function(event){
		event.preventDefault();
	});

	document.addEventListener('touchend',function(event){
		endx = event.changedTouches[0].pageX;
		endy = event.changedTouches[0].pageY;

		var deltax = endx - startx;
		var deltay = endy - starty;

		if( Math.abs( deltax ) < 0.1*documentWidth && Math.abs( deltay ) <0.1*documentWidth ){
			return;
		}

		//if是的话，在x方向进行
		if( Math.abs( deltax ) >= Math.abs( deltay ) ){
			if ( deltax > 0 ) {
				//move right
				if( moveRight() ){
					setTimeout("generateOneNumber()",210);
					setTimeout("isgameover()",300);
				}
			}
			else{
				//moveleft
				if( moveLeft() ){
					setTimeout("generateOneNumber()",210);
					setTimeout("isgameover()",300);
				}
			}
		}
		//else在Y方向
		else{
			if ( deltay > 0 ) {
				//move down
				if( moveDown() ){
					setTimeout("generateOneNumber()",210);
					setTimeout("isgameover()",300);
				}
			}
			else{
				//move up
				if( moveUp() ){
					setTimeout("generateOneNumber()",210);
					setTimeout("isgameover()",300);
				}
			}
		}

	});

	function isgameover(){
		if(nospace(board) && nomove(board)){
			gameover();
		}
	}

	function gameover(){
		alert("gameover!");
	}

	function moveLeft(){
		if( !canMoveLeft(board) ){
			return false;
		}
		//moveLeft
		for(var i=0;i<4;i++){
			for(var j=1;j<4;j++){
				if(board[i][j]!=0){
					for(var k=0;k<j;k++){
						if(board[i][k] == 0 && noBlockHorizontal(i,k,j,board)){
							//move
							showMoveAnimation(i,j,i,k);
							board[i][k]=board[i][j];
							board[i][j]=0;
							continue;
						}
						else if(board[i][k] == board[i][j] && noBlockHorizontal(i,k,j,board)){
							//move
							showMoveAnimation(i,j,i,k);
							//add
							board[i][k] += board[i][j];
							board[i][j] = 0;
							//add score
							score += board[i][k];
							updateScore(score);

							hasConflicted[i][j] = true;
							continue;
						}
					}
				}
			}
		}
		setTimeout("updateBoardView()",200)
		return true;
	}




	function moveRight(){
		if( !canMoveRight(board) ){
			return false;
		}
		//moveLeft
		for(var i=0;i<4;i++){
			for(var j=2;j>=0;j--){
				if(board[i][j]!=0){
					for(var k=3;k>j;k--){
						if(board[i][k] == 0 && noBlockHorizontal(i,j,k,board)){
							//move
							showMoveAnimation(i,j,i,k);
							board[i][k]=board[i][j];
							board[i][j]=0;
							continue;
						}
						else if(board[i][k]==board[i][j]&&noBlockHorizontal(i,j,k,board)){
							//move
							showMoveAnimation(i,j,i,k);
							//add
							board[i][k]+=board[i][j];
							board[i][j]=0;
							//add score
							score += board[i][k];
							updateScore(score);

							hasConflicted[i][j] = true;
							continue;
						}
					}
				}
			}
		}
		setTimeout("updateBoardView()",200)
		return true;
	}



	function moveUp(){
		if( !canMoveUp(board) ){
			return false;
		}
		//moveUp
		for(var j=0 ; j<4 ; j++){
			for(var i=1 ; i<4 ; i++){
				if(board[i][j] != 0){
					for(var k=0 ; k<i ; k++){
						if(board[k][j] == 0 && noBlockVertical(j,k,i,board)){
							//move
							showMoveAnimation(i,j,k,j);
							board[k][j]=board[i][j];
							board[i][j]=0;
							continue;
						}
						else if(board[k][j]==board[i][j]&&noBlockVertical(j,k,i,board)){
							//move
							showMoveAnimation(i,j,k,j);
							//add
							board[k][j] *= 2;
							board[i][j] = 0;
							//add score
							score += board[i][k];
							updateScore(score);

							hasConflicted[i][j] = true;
							continue;
						}
					}
				}
			}
		}
		setTimeout("updateBoardView()",200)
		return true;
	}


	function moveDown(){
		if( !canMoveDown(board) ){
			return false;
		}
		//moveUp
		for(var j=0 ; j<4 ; j++){
			for(var i=2 ; i>=0 ; i--){
				if(board[i][j] != 0){
					for(var k=3 ; k>i ; k--){
						if(board[k][j] == 0 && noBlockVertical(j,i,k,board)){
							//move
							showMoveAnimation(i,j,k,j);
							board[k][j]=board[i][j];
							board[i][j]=0;
							continue;
						}
						else if(board[k][j]==board[i][j]&&noBlockVertical(j,i,k,board)){
							//move
							showMoveAnimation(i,j,k,j);
							//add
							board[k][j] *= 2;
							board[i][j] = 0;
							//add score
							score += board[i][k];
							updateScore(score);

							hasConflicted[i][j] = true;
							continue;
						}
					}
				}
			}
		}
		setTimeout("updateBoardView()",200)
		return true;
	}
	</script>
</head>
<body>
	<header>
		<div class="h"><h2>2048</h2></div>
		<a href="javascript:newgame();" id="newgamebutton">New Game</a>
		<p>score:<span id="score"></span></p>
	</header>

	<div id="grid-container">
		<div class="grid-cell" id="grid-cell-0-0"></div>
		<div class="grid-cell" id="grid-cell-0-1"></div>
		<div class="grid-cell" id="grid-cell-0-2"></div>
		<div class="grid-cell" id="grid-cell-0-3"></div>

		<div class="grid-cell" id="grid-cell-1-0"></div>
		<div class="grid-cell" id="grid-cell-1-1"></div>
		<div class="grid-cell" id="grid-cell-1-2"></div>
		<div class="grid-cell" id="grid-cell-1-3"></div>

		<div class="grid-cell" id="grid-cell-2-0"></div>
		<div class="grid-cell" id="grid-cell-2-1"></div>
		<div class="grid-cell" id="grid-cell-2-2"></div>
		<div class="grid-cell" id="grid-cell-2-3"></div>

		<div class="grid-cell" id="grid-cell-3-0"></div>
		<div class="grid-cell" id="grid-cell-3-1"></div>
		<div class="grid-cell" id="grid-cell-3-2"></div>
		<div class="grid-cell" id="grid-cell-3-3"></div>
	</div>
</body>
</html>