<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js</title>
	<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
</head>
<body>
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script>
		$.ajax({
			    url:'https://v.juhe.cn/weather/index',
			    type:'GET', //GET
			    async:true,    //或false,是否异步
			    data:{
			    	cityname:"中山",
			    	key:"30b4ccbd7bcd71cbbf66b22434d5e8a6"
			    },
			    timeout:5000,    //超时时间
			    dataType:'jsonp',    //返回的数据格式：json/xml/html/script/jsonp/text
			    success:function(res){
			        console.log(res.result.today)
			    }
			})
	</script>
</body>
</html>