<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <!-- <meta charset="utf-8"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no"> -->
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- <title>正觉设计</title> -->
    <!-- <link href="lib/bootstrapt/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="build/css/third.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="lib/bootstrapt/html5shiv.min.js"></script>
      <script src="lib/bootstrapt/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container context-container">
      <div class="row context-inner">

        <div class="col-xs-offset-2 col-xs-2 context-mod first" id="brand">
          <a ui-sref="brand" ui-sref-active="on">品牌设计</a>
        </div>

        <div class="col-xs-2 context-mod" id="logo">
          <a ui-sref="logo" ui-sref-active="on">标志设计</a>
        </div>

        <div class="col-xs-2 context-mod" id="brochure">
          <a ui-sref="brochure" ui-sref-active="on">画册设计</a>
        </div>

        <div class="col-xs-2 context-mod" id="package">
          <a ui-sref="package" ui-sref-active="on">包装设计</a>
        </div>

      </div>
      <span class="line"></span>
      <div class="row context-third">
        <div class="col-lg-12">
          <h4><b>#品牌设计#</b></h4>
          <span>2017-04-13 12:00</span>
          <p>描述：#TONY观点# 【只要你努力就一定能成功】这句话已经过时啦，现如今努力已不一定成功，所以我们应该转换一种心态【明知不可能会成功，但还是选择检查努力下去】。我是输在起跑线上面的人，想要成功必须有用于尝试的态度，可能需要5年到10年的时间或者30年~因为没有人告诉你怎样做才能实现自己的梦想，加油吧！为梦想加油！</p>
          <img src="build/images/served.jpg" alt="">
        </div>
      </div>
      <nav class="context-container-page" aria-label="Page navigation">
        <ul class="pagination">
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
      </nav>
      <span class="line"></span>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="lib/jquery/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="lib/bootstrapt/js/bootstrap.min.js"></script> -->
    <!--<script src="js/index.js"></script>-->
  </body>
</html>