<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>XX00</title>
	<style>
	h1{
		text-align: center;
		font-size: 3em;
	}
		.container{
			background-color:gray;
			width: 490px;
			height: 490px;
			border-radius: 20px;
			box-sizing: border-box;
			margin: 0px auto;
			padding: 5px;
		}
		.container div{
			display: inline-block;
			width: 150px;
			height: 150px;
			background-color: lightyellow;
			border-radius: 20px;
			margin: 5px;
			box-sizing: border-box;
			float: left;
			font-size: 5em;
			text-align: center;
			line-height: 1.8em;
			cursor: pointer;
		}
		button.new{
			display: block;
			margin: 20px auto;
			font-size: 2em;
			padding: 10px;
			border-radius: 18px;
		}
		button.new:hover{
			background-color: brown;
		}
	</style>
</head>
<body>
	<h1>You Are X!</h1>
	<button class="new" id="new">New Game</button>
	<div class="container">
		<div class="innerdiv" id="00"></div>
		<div class="innerdiv" id="01"></div>
		<div class="innerdiv" id="02"></div> 
		<div class="innerdiv" id="10"></div>
		<div class="innerdiv" id="11"></div>
		<div class="innerdiv" id="12"></div> 
		<div class="innerdiv" id="20"></div>
		<div class="innerdiv" id="21"></div>
		<div class="innerdiv" id="22"></div> 
	</div>
	<script>
		let abs=false;
		let couse=0;
		let times= 0;
		let over= false;
		function isFull(){
			couse=0;
			for(let i =0;i<3;i++ ){
				for(let j=0;j<3;j++){
					if(document.getElementById(i.toString()+j).innerHTML.length == 1){
						couse++;
					};
					if (couse==9) {
						return true;
					};
				}
			}
		}
		function isAlmostWin(whs){
			abs = false;
			for(let i =0;i<3;i++ ){
				if(
					(document.getElementById(0+i.toString()).innerHTML+
					document.getElementById(1+i.toString()).innerHTML+
					document.getElementById(2+i.toString()).innerHTML==whs+whs)
				){
					for(let j=0;j<3;j++){
						if(document.getElementById(j+i.toString()).innerHTML.length==0){
							abs = j.toString() + i;
						}
					}
					return abs; 
				}else if(
					document.getElementById(i.toString()+0).innerHTML+
					document.getElementById(i.toString()+1).innerHTML+
					document.getElementById(i.toString()+2).innerHTML==whs+whs)
				{
					for(let j=0;j<3;j++){
						if(document.getElementById(i.toString()+j).innerHTML.length==0){
							abs = i + j.toString();
						}
					}
					return abs; 
				}
			}
			if(
				document.getElementById("00").innerHTML+
				document.getElementById("11").innerHTML+
				document.getElementById("22").innerHTML==whs+whs)
			{
				for(let j=0;j<3;j++){
					if(document.getElementById(j+j.toString()).innerHTML.length==0){
						abs = j + j.toString();
					}
				}
				return abs; 
			}else if(
				document.getElementById("20").innerHTML+
				document.getElementById("11").innerHTML+
				document.getElementById("02").innerHTML==whs+whs)
			{
				for(let j=0;j<3;j++){
					if(document.getElementById((2-Number(j)).toString()+j).innerHTML.length==0){
						abs = (2-Number(j)).toString() + j;
					}
				}
				return abs; 
			}
		}
		function refresh(me,you){
			for(let i =0;i<3;i++ ){
				for(let j=0;j<3;j++){
					document.getElementById(i+j.toString()).innerHTML="";
					document.getElementById(i+j.toString()).style.backgroundColor="lightyellow";
				}
			}
			if(me=="O"){
				document.getElementById("11").innerHTML=you;
			}
		}
		function howmany(){
			times=0;
			for(let i =0;i<3;i++ ){
				for(let j=0;j<3;j++){
					times += document.getElementById(i+j.toString()).innerHTML.length;
				}
			}
			return times;
		}
		function isLineTwo(num){
			for(let i =0;i<3;i++ ){
				for(let j=0;j<3;j++){
					if(document.getElementById(i+j.toString()).innerHTML.length>0){
						continue;
					}else if(document.getElementById(i+j.toString()).innerHTML.length==0){
						if(
							document.getElementById(i+"0").innerHTML+
							document.getElementById(i+"1").innerHTML+
							document.getElementById(i+"2").innerHTML==num
							){
							times++;
						}
						if(
							document.getElementById("0"+j).innerHTML+
							document.getElementById("1"+j).innerHTML+
							document.getElementById("2"+j).innerHTML==num
							){
							times++;
						}
						if(i+j.toString()=="00"||i+j.toString()=="22"||i+j.toString()=="20"||i+j.toString()=="02"){
							times++;
						}
						if(times>1){
							abs=i+j.toString();
							times=0;
						}
						times=0;
					}
				}
			}
			return abs;
		}
		function RandomNum (me,you){
			if(isAlmostWin(me)){
				isAlmostWin(me)
			}
			if(isAlmostWin(you)){
				isAlmostWin(you)
			}else if(!isAlmostWin(me)){
				if(isLineTwo(you)){
					isLineTwo(you);
				}else{
					abs = Math.floor(Math.random()*3).toString() + Math.floor(Math.random()*3);
				}
			}
			if(document.getElementById('11').innerHTML.length==0){
				abs="11";
			}else if(howmany()==2&&document.getElementById('00').innerHTML.length==1){
				abs="22";
			}else if(howmany()==2&&document.getElementById('22').innerHTML.length==1){
				abs="00";
			}else if(howmany()==2&&document.getElementById('02').innerHTML.length==1){
				abs="20";
			}else if(howmany()==2&&document.getElementById('20').innerHTML.length==1){
				abs="02";
			}
			if(document.getElementById(abs).innerHTML.length === 0){
				document.getElementById( abs ).innerHTML = you;
			}else{
				RandomNum(me,you);
				return;
			}
		}
		function isWin(num){
			for(let i =0;i<3;i++ ){
				if(
					document.getElementById(0+i.toString()).innerHTML+
					document.getElementById(1+i.toString()).innerHTML+
					document.getElementById(2+i.toString()).innerHTML===num
				){
					document.getElementById(0+i.toString()).style.backgroundColor="yellow";
					document.getElementById(1+i.toString()).style.backgroundColor="yellow";
					document.getElementById(2+i.toString()).style.backgroundColor="yellow";
					return true; 
				}else if(
					document.getElementById(i.toString()+0).innerHTML+
					document.getElementById(i.toString()+1).innerHTML+
					document.getElementById(i.toString()+2).innerHTML===num
				){
					document.getElementById(i.toString()+0).style.backgroundColor="yellow";
					document.getElementById(i.toString()+1).style.backgroundColor="yellow";
					document.getElementById(i.toString()+2).style.backgroundColor="yellow";
					return true; 
				}
			}
			if(
				document.getElementById("00").innerHTML+
				document.getElementById("11").innerHTML+
				document.getElementById("22").innerHTML===num)
			{
				document.getElementById("00").style.backgroundColor="yellow";
				document.getElementById("11").style.backgroundColor="yellow";
				document.getElementById("22").style.backgroundColor="yellow";
				return true;
			}else if(
				(document.getElementById("20").innerHTML+
				document.getElementById("11").innerHTML+
				document.getElementById("02").innerHTML===num)
			){
				document.getElementById("20").style.backgroundColor="yellow";
				document.getElementById("11").style.backgroundColor="yellow";
				document.getElementById("02").style.backgroundColor="yellow";
				return true;
			}
		}
		function init(me,you){
			document.getElementById('new').onclick=function(me,you){
				refresh(me,you);
				over=false;
			}
			if(me=="O"){
				document.getElementById('11').innerHTML=you;
			}
			document.getElementsByTagName('h1')[0].innerHTML="You Are "+me+"!";
			for(let i =0;i<3;i++ ){
				for(let j=0;j<3;j++){
					document.getElementById(i.toString()+j).onclick = function () {
						if(over == true){
							return;
						}
						over=false;
						if(this.innerHTML.length===0){
							this.innerHTML = me;
							if(isWin(me+me+me)){
								setTimeout('alert("You Win")',0)
								over=true;
								//refresh(me,you);
								return;
							}else if(isFull()){
								setTimeout('alert("平局")',0)
								over=true;
								//refresh(me,you);
								return;
							}

							RandomNum(me,you);
							if(isWin(you+you+you)){
								setTimeout('alert("You Lost")',0)
								over=true;
								//refresh(me,you);
								return;
							}else if(isFull()){
								setTimeout('alert("平局")',0)
								over=true;
								//refresh(me,you);
								return;
							}
						}
					}
				}
			}
		}
		var ret1 = confirm("Do You Want To Be X?");
		if(ret1){  
		    init("X","O");           
		}else{
		    init("O","X");           
		}
		
	</script>
</body>
</html>